@font-face {
  font-family: svn;
  src: url(/fonts/svn-gilroy-cufonfonts/SVNGilroy\ Bold.otf);
}
body {
  font-family: svn;
}
body .section {
  padding-top: 50px;
  background: #FDFDFD;
}
body .section .section1 {
  width: 80%;
  margin: auto;
}
body .section .section1 .whatsNew {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
body .section .section1 .whatsNew .new h1 {
  color: black;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
body .section .section1 .whatsNew .new p {
  color: #003459;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}
body .section .section1 .whatsNew .new2 button {
  width: 151px;
  height: 44px;
  border-radius: 57px;
  border: 1.5px solid #003459;
  gap: 8px;
  background: transparent;
  padding: 12px, 28px, 12px, 28px;
}
body .section .section1 .whatsNew .new2 button a {
  text-decoration: none;
  color: #003459;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
body .section .grid-container {
  width: 80%;
  margin: 50px auto;
  display: grid;
  justify-content: center;
  grid-template-columns: 25% 25% 25% 25%;
  background: #FDFDFD;
}
body .section .grid-container .grid-item {
  margin: 10px;
  border-radius: 12px;
  padding: 8px;
  box-shadow: 0 0 15px rgb(184, 184, 184);
}
body .section .grid-container .item1 img, body .section .grid-container .item2 img, body .section .grid-container .item3 img, body .section .grid-container .item4 img {
  border-radius: 12px;
  width: 100%;
}
body .section .grid-container .item1 h1, body .section .grid-container .item2 h1, body .section .grid-container .item3 h1, body .section .grid-container .item4 h1 {
  color: #00171F;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  font-family: svn;
}
body .section .grid-container .item1 h2, body .section .grid-container .item2 h2, body .section .grid-container .item3 h2, body .section .grid-container .item4 h2 {
  font-family: svn;
  color: #667479;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}
body .section .grid-container .item1 h3, body .section .grid-container .item2 h3, body .section .grid-container .item3 h3, body .section .grid-container .item4 h3 {
  color: #00171F;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  font-family: svn;
}

@media (max-width: 834px) {
  body .section .section1 {
    width: 90%;
  }
  body .section .grid-container {
    width: 70%;
    grid-template-columns: 50% 50%;
  }
}
@media (max-width: 480px) {
  body .section .section1 {
    width: 90%;
  }
  body .section .grid-container {
    width: 90%;
    grid-template-columns: 50% 50%;
  }
}
@font-face {
  font-family: svn;
  src: url(/fonts/svn-gilroy-cufonfonts/SVNGilroy\ Bold.otf);
}
body {
  font-family: svn;
}
body .explore .explore1 {
  width: 80%;
  margin: 30px auto;
  background: #003459;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 20px;
}
body .explore .explore1 .ex-left {
  width: 50%;
  position: relative;
}
body .explore .explore1 .ex-left .ex-rectangle {
  position: absolute;
  bottom: 0%;
  z-index: 1;
}
body .explore .explore1 .ex-left .exxy {
  position: absolute;
  bottom: 0%;
  z-index: 20;
}
body .explore .explore1 .ex-right {
  width: 45%;
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
  position: relative;
  z-index: 20;
}
body .explore .explore1 .ex-right .showcase88 {
  position: absolute;
  top: -1%;
  right: -1%;
  z-index: -1;
}
body .explore .explore1 .ex-right h1 {
  color: #002A48;
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 68px;
  font-family: svn;
  z-index: 10;
  text-align: right;
}
body .explore .explore1 .ex-right h1 span {
  font-weight: 900;
  letter-spacing: 0.4rem;
  font-family: svn;
  z-index: 10;
  font-size: 2.5;
}
body .explore .explore1 .ex-right p {
  color: #242B33;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  font-family: svn;
  padding: 15px 0px;
  text-align: right;
}
body .explore .explore1 .ex-right .header-button {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 5px;
}
body .explore .explore1 .ex-right .header-button .btn1 {
  width: 161px;
  height: 48px;
  border-radius: 57px;
  padding: 14px, 28px, 10px, 28px;
  gap: 10px;
  border: 1.5px solid #003459;
  background: transparent;
}
body .explore .explore1 .ex-right .header-button .btn1 a {
  text-decoration: none;
  color: #003459;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
body .explore .explore1 .ex-right .header-button .btn1 a .fa-circle-play {
  font-size: 18px;
  margin-left: 5px;
}
body .explore .explore1 .ex-right .header-button .btn2 {
  width: 161px;
  height: 48px;
  border-radius: 57px;
  padding: 14px, 28px, 10px, 28px;
  gap: 8px;
  border: 1.5px solid #003459;
  background: #003459;
}
body .explore .explore1 .ex-right .header-button .btn2 a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
body .explore .explore1 .ex-right .header-button .btn2 a .fa-circle-play {
  font-size: 18px;
}

@media (max-width: 834px) {
  body .explore {
    height: auto;
  }
  body .explore .explore1 {
    flex-direction: column-reverse;
    overflow: hidden;
    height: auto;
  }
  body .explore .explore1 .ex-left {
    width: 100%;
    height: 400px;
  }
  body .explore .explore1 .ex-left .exxy {
    left: -15%;
  }
  body .explore .explore1 .ex-right {
    width: 100%;
    height: 500px;
    background: #FCEED5;
  }
  body .explore .explore1 .ex-right .showcase88 {
    top: 0%;
    left: 0%;
  }
  body .explore .explore1 .ex-right .header-button .btn1 {
    width: 50%;
    padding: 5px;
    height: 35px;
  }
  body .explore .explore1 .ex-right .header-button .btn1 a {
    font-size: 12px;
  }
  body .explore .explore1 .ex-right .header-button .btn2 {
    width: 50%;
    padding: 5px;
    height: 35px;
  }
  body .explore .explore1 .ex-right .header-button .btn2 a {
    font-size: 12px;
  }
}
@media (max-width: 480px) {
  body .explore {
    height: auto;
  }
  body .explore .explore1 {
    flex-direction: column-reverse;
    overflow: hidden;
    height: auto;
  }
  body .explore .explore1 .ex-left {
    width: 100%;
    height: 400px;
  }
  body .explore .explore1 .ex-left .exxy {
    left: -29%;
  }
  body .explore .explore1 .ex-right {
    width: 100%;
    height: 500px;
    background: #FCEED5;
  }
  body .explore .explore1 .ex-right .showcase88 {
    top: 0%;
    left: 0%;
  }
  body .explore .explore1 .ex-right .header-button .btn1 {
    width: 50%;
    padding: 5px;
    height: 35px;
  }
  body .explore .explore1 .ex-right .header-button .btn1 a {
    font-size: 12px;
  }
  body .explore .explore1 .ex-right .header-button .btn2 {
    width: 50%;
    padding: 5px;
    height: 35px;
  }
  body .explore .explore1 .ex-right .header-button .btn2 a {
    font-size: 12px;
  }
}
@font-face {
  font-family: svn;
  src: url(/fonts/svn-gilroy-cufonfonts/SVNGilroy\ Bold.otf);
}
body {
  font-family: svn;
}
body .products {
  padding-top: 50px;
  background: #FDFDFD;
}
body .products .products1 {
  width: 80%;
  margin: auto;
}
body .products .products1 .whatsNew {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
body .products .products1 .whatsNew .new h1 {
  color: black;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
body .products .products1 .whatsNew .new p {
  color: #003459;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}
body .products .products1 .whatsNew .new2 button {
  width: 151px;
  height: 44px;
  border-radius: 57px;
  border: 1.5px solid #003459;
  gap: 8px;
  background: transparent;
  padding: 12px, 28px, 12px, 28px;
}
body .products .products1 .whatsNew .new2 button a {
  text-decoration: none;
  color: #003459;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
body .products .grid-container {
  width: 80%;
  margin: 50px auto;
  display: grid;
  justify-content: center;
  grid-template-columns: 25% 25% 25% 25%;
  background: #FDFDFD;
}
body .products .grid-container .grid-item {
  margin: 10px;
  border-radius: 12px;
  padding: 8px;
  box-shadow: 0 0 15px rgb(184, 184, 184);
}
body .products .grid-container .grid-item img {
  width: 100%;
}
body .products .grid-container .pro {
  display: flex;
  flex-direction: row;
  background: #FCEED5;
  border-radius: 8px;
  padding: 10px;
  align-items: center;
  gap: 10px;
}
body .products .grid-container .pro img {
  width: 10%;
  height: 10%;
}
body .products .grid-container .pro h6 {
  color: #002A48;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin-left: 10px;
}
body .products .grid-container .item1 img, body .products .grid-container .item2 img, body .products .grid-container .item3 img, body .products .grid-container .item4 img {
  border-radius: 12px;
}
body .products .grid-container .item1 h1, body .products .grid-container .item2 h1, body .products .grid-container .item3 h1, body .products .grid-container .item4 h1 {
  color: #00171F;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  font-family: svn;
}
body .products .grid-container .item1 h2, body .products .grid-container .item2 h2, body .products .grid-container .item3 h2, body .products .grid-container .item4 h2 {
  font-family: svn;
  color: #667479;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}
body .products .grid-container .item1 h3, body .products .grid-container .item2 h3, body .products .grid-container .item3 h3, body .products .grid-container .item4 h3 {
  color: #00171F;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  font-family: svn;
}

@media (max-width: 834px) {
  body .products .grid-container {
    grid-template-columns: 50% 50%;
  }
  body .products .grid-container .pro img {
    width: 10%;
    height: 10%;
  }
}
@media (max-width: 480px) {
  body .products {
    display: none;
  }
}
@font-face {
  font-family: svn;
  src: url(/fonts/svn-gilroy-cufonfonts/SVNGilroy\ Bold.otf);
}
body {
  font-family: svn;
}
body .partners {
  padding: 30px 0px;
}
body .partners .partners1 {
  width: 80%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
}
body .partners .partners1 .pet1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0px;
}
body .partners .partners1 .pet1 h1 {
  color: #000000;
  font-size: 16px;
  line-height: 31px;
  font-weight: 500;
}
body .partners .partners1 .pet1 h1 span {
  color: #003459;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}
body .partners .partners1 .pet1 button {
  width: 201px;
  height: 44px;
  border-radius: 57px;
  border: 1.5px solid #003459;
  background: transparent;
}
body .partners .partners1 .pet1 button a {
  color: #003459;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  font-family: svn;
}
body .partners .partners1 .pet2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}
body .partners .partners1 .pet2 .img1 {
  width: 88px;
  height: 64px;
}
body .partners .partners1 .pet2 .img2 {
  width: 114px;
  height: 114px;
}
body .partners .partners1 .pet2 .img3 {
  width: 104px;
  height: 46px;
}
body .partners .partners1 .pet2 .img4 {
  width: 92px;
  height: 64px;
}
body .partners .partners1 .pet2 .img5 {
  width: 92px;
  height: 92px;
}
body .partners .partners1 .pet2 .img6 {
  width: 130px;
  height: 56px;
}
body .partners .partners1 .pet2 .img7 {
  width: 116px;
  height: 72px;
}

@media (max-width: 834px) {
  body .partners {
    display: none;
  }
}
@font-face {
  font-family: svn;
  src: url(/fonts/svn-gilroy-cufonfonts/SVNGilroy\ Bold.otf);
}
body {
  font-family: svn;
}
body .adoption .adoption1 {
  width: 80%;
  margin: auto;
  background: #FFB775;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  overflow: hidden;
}
body .adoption .adoption1 .ado-right {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px 60px;
  position: relative;
  z-index: 20;
}
body .adoption .adoption1 .ado-right .adopt-image {
  display: flex;
  flex-direction: row;
  justify-content: left;
}
body .adoption .adoption1 .ado-right .adopt-image h2 {
  color: #003459;
  font-weight: 800;
  font-size: 52px;
  line-height: 62px;
  margin-right: 10px;
}
body .adoption .adoption1 .ado-right .showcase88 {
  position: absolute;
  bottom: 0%;
  right: -16%;
  z-index: -1;
}
body .adoption .adoption1 .ado-right h1 {
  color: #002A48;
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 68px;
  font-family: svn;
  z-index: 10;
  text-align: left;
}
body .adoption .adoption1 .ado-right h1 span {
  font-weight: 900;
  letter-spacing: 0.4rem;
  font-family: svn;
  z-index: 10;
  font-size: 2.5;
}
body .adoption .adoption1 .ado-right p {
  color: #242B33;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  font-family: svn;
  padding: 15px 0px;
  text-align: left;
}
body .adoption .adoption1 .ado-right .header-button {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 5px;
}
body .adoption .adoption1 .ado-right .header-button .btn1 {
  width: 161px;
  height: 48px;
  border-radius: 57px;
  padding: 14px, 28px, 10px, 28px;
  gap: 10px;
  border: 1.5px solid #003459;
  background: transparent;
}
body .adoption .adoption1 .ado-right .header-button .btn1 a {
  text-decoration: none;
  color: #003459;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
body .adoption .adoption1 .ado-right .header-button .btn1 a .fa-circle-play {
  font-size: 18px;
  margin-left: 5px;
}
body .adoption .adoption1 .ado-right .header-button .btn2 {
  width: 161px;
  height: 48px;
  border-radius: 57px;
  padding: 14px, 28px, 10px, 28px;
  gap: 8px;
  border: 1.5px solid #003459;
  background: #003459;
}
body .adoption .adoption1 .ado-right .header-button .btn2 a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
body .adoption .adoption1 .ado-right .header-button .btn2 a .fa-circle-play {
  font-size: 18px;
}
body .adoption .adoption1 .ado-left {
  width: 50%;
  position: relative;
}
body .adoption .adoption1 .ado-left .showcase6 {
  position: absolute;
  top: 20%;
  left: 18%;
  z-index: 1;
}
body .adoption .adoption1 .ado-left .adoption {
  position: absolute;
  top: 0%;
  z-index: 20;
}

@media (max-width: 834px) {
  body .adoption {
    display: none;
  }
}
@font-face {
  font-family: svn;
  src: url(/fonts/svn-gilroy-cufonfonts/SVNGilroy\ Bold.otf);
}
body {
  font-family: svn;
}
body .knowledge {
  padding-top: 50px;
  background: #FDFDFD;
}
body .knowledge .knowledge1 {
  width: 80%;
  margin: auto;
}
body .knowledge .knowledge1 .whatsNew {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
body .knowledge .knowledge1 .whatsNew .new h1 {
  color: black;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
body .knowledge .knowledge1 .whatsNew .new p {
  color: #003459;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}
body .knowledge .knowledge1 .whatsNew .new2 button {
  width: 151px;
  height: 44px;
  border-radius: 57px;
  border: 1.5px solid #003459;
  gap: 8px;
  background: transparent;
  padding: 12px, 28px, 12px, 28px;
}
body .knowledge .knowledge1 .whatsNew .new2 button a {
  text-decoration: none;
  color: #003459;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
body .knowledge .grid-container {
  width: 100%;
  margin: 50px auto;
  display: grid;
  justify-content: center;
  grid-template-columns: 33% 33% 33%;
  background: #FDFDFD;
}
body .knowledge .grid-container .grid-item {
  margin: 10px;
  border-radius: 12px;
  padding: 8px;
  box-shadow: 0 0 15px rgb(184, 184, 184);
}
body .knowledge .grid-container .item1 img, body .knowledge .grid-container .item2 img, body .knowledge .grid-container .item3 img {
  border-radius: 12px;
  width: 100%;
}
body .knowledge .grid-container .item1 button, body .knowledge .grid-container .item2 button, body .knowledge .grid-container .item3 button {
  background: #00A7E7;
  color: white;
  border-radius: 28px;
  width: 89px;
  height: 20px;
  border: none;
}
body .knowledge .grid-container .item1 button a, body .knowledge .grid-container .item2 button a, body .knowledge .grid-container .item3 button a {
  color: #FDFDFD;
  font-weight: 700;
  font-size: 10px;
  line-height: 16px;
  text-decoration: none;
  font-family: svn;
}
body .knowledge .grid-container .item1 h1, body .knowledge .grid-container .item2 h1, body .knowledge .grid-container .item3 h1 {
  color: #00171F;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  font-family: svn;
}
body .knowledge .grid-container .item1 p, body .knowledge .grid-container .item2 p, body .knowledge .grid-container .item3 p {
  color: #242B33;
  font-weight: 200;
  font-size: 14px;
  line-height: 20px;
  font-family: svn;
}

@media (max-width: 834px) {
  body .knowledge .grid-container {
    grid-template-columns: 60%;
  }
  body .knowledge .grid-container .item2 {
    display: none;
  }
  body .knowledge .grid-container .item3 {
    display: none;
  }
}
@media (max-width: 480px) {
  body .knowledge .knowledge1 .whatsNew .new2 {
    display: none;
  }
  body .knowledge .grid-container {
    grid-template-columns: 110%;
  }
  body .knowledge .grid-container .item2 {
    display: block;
  }
  body .knowledge .grid-container .item3 {
    display: block;
  }
}
@font-face {
  font-family: svn;
  src: url(/fonts/svn-gilroy-cufonfonts/SVNGilroy\ Bold.otf);
}
body {
  font-family: svn;
}
body footer {
  background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  height: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  width: 100%;
}
body footer .register {
  background: #003459;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  padding: 25px 20px;
  border-radius: 16px;
}
body footer .register .register-left {
  width: 40%;
}
body footer .register .register-left h1 {
  color: #FDFDFD;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}
body footer .register .register-right {
  width: 60%;
  padding: 15px;
  display: flex;
  flex-direction: row;
  background: white;
  border-radius: 14px;
  gap: 15px;
}
body footer .register .register-right input {
  width: 70%;
  border-radius: 8px;
  border: 1px solid #99A2A5;
  padding: 10px;
  outline: none;
}
body footer .register .register-right button {
  background: #003459;
  width: 163px;
  height: 48px;
  border: none;
  border-radius: 8px;
  padding: 14px, 28px, 10px, 28px;
}
body footer .register .register-right button a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: white;
}
body footer .homy {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 0px;
  border-bottom: 1px solid #CCD1D2;
}
body footer .homy .navy {
  width: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body footer .homy .navy a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #00171F;
  font-family: svn;
}
body footer .homy .icons {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
body footer .homy .icons .fa-brands {
  font-size: 24px;
}
body footer .foot0 {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0px;
}
body footer .foot0 .foot1 h1 {
  color: #667479;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
body footer .foot0 .foot3 a {
  text-decoration: none;
  color: #667479;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

@media (max-width: 834px) {
  body footer {
    height: auto;
  }
  body footer .homy {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body footer .homy .navy {
    width: 100%;
    margin: 15px 0px;
  }
  body footer .homy .icons {
    gap: 50px;
  }
  body footer .foot0 {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
@media (max-width: 480px) {
  body footer {
    height: auto;
  }
  body footer .register {
    flex-direction: column;
    gap: 10 px;
  }
  body footer .register .register-left {
    width: 100%;
  }
  body footer .register .register-right {
    flex-direction: column;
    width: 100%;
  }
  body footer .register .register-right input {
    width: 100%;
  }
  body footer .register .register-right button {
    width: 100%;
  }
  body footer .homy {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body footer .homy .navy {
    width: 100%;
    margin: 15px 0px;
  }
  body footer .homy .icons {
    gap: 50px;
  }
  body footer .foot0 {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
@font-face {
  font-family: svn;
  src: url(/fonts/svn-gilroy-cufonfonts/SVNGilroy\ Bold.otf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body .loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: 999;
  display: grid;
  place-items: center;
  opacity: 0;
  visibility: hidden;
  animation: load 3s linear 1;
}
body .loader .loader-inside {
  width: 80px;
  position: relative;
}
body .loader .loader-inside span {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgb(38, 0, 255);
  color: white;
  position: absolute;
  top: 0;
  left: 0;
}
body .loader .loader-inside .load1 {
  left: 0px;
  animation: anime 1s linear -0.3s infinite;
}
body .loader .loader-inside .load2 {
  left: 34px;
  animation: anime 1s linear -0.2s infinite;
}
body .loader .loader-inside .load3 {
  left: 68px;
  animation: anime 1s linear -0.1s infinite;
}
@keyframes anime {
  100% {
    top: 30px;
  }
}
@keyframes load {
  0%, 99% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
body header {
  background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
  height: auto;
  overflow: hidden;
  position: relative;
  z-index: 20;
}
body header .showcase7 {
  position: absolute;
  top: -90%;
  left: -20%;
  z-index: -1;
}
body header .container {
  width: 80%;
  height: auto;
  margin: auto;
}
body header .container .fa-bars {
  display: none;
}
body header .container .navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 20px 0px;
  font-family: svn;
  width: 100%;
  overflow: hidden;
}
body header .container .navbar .navbar-menu1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
body header .container .navbar .navbar-menu1 a {
  text-decoration: none;
  color: #003459;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  font-family: svn;
  position: relative;
  display: inline-block;
}
body header .container .navbar .navbar-menu1 .input {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 280px;
  height: 44px;
  background: white;
  border-radius: 46px;
  padding: 12px, 20px, 12px, 16px;
}
body header .container .navbar .navbar-menu1 .input .fa-searchengin {
  font-size: 18px;
  color: #99A2A5;
  margin-left: 10px;
  margin-right: 10px;
}
body header .container .navbar .navbar-menu1 .input input {
  border: none;
  outline: none;
  border-radius: 46px;
}
body header .container .navbar .navbar-menu1 .input input::-moz-placeholder {
  color: #99A2A5;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
body header .container .navbar .navbar-menu1 .input input::placeholder {
  color: #99A2A5;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
body header .container .navbar .navbar-menu1 button {
  width: 203px;
  height: 44px;
  border-radius: 57px;
  gap: 10px;
  padding: 14px, 28px, 10px, 28px;
  border: none;
  background: #003459;
}
body header .container .navbar .navbar-menu1 button a {
  color: white;
  text-decoration: none;
}
body header .container .navbar .navbar-menu2 {
  width: 500px;
  height: 500px;
  background: #000;
  position: absolute;
  left: 0%;
  transform: translateX(-505px);
  z-index: 100;
}
body header .container .navbar .fa-magnifying-glass {
  display: none;
}
body header .container .navbar .dropdown {
  float: left;
  overflow: hidden;
  width: 11%;
}
body header .container .navbar .dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 5px 5px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
body header .container .navbar .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
body header .container .navbar .dropdown-content a {
  float: none;
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
  text-align: center;
}
body header .container .navbar .dropdown-content a:hover {
  background-color: #ddd;
}
body header .container .navbar .dropdown:hover .dropdown-content {
  display: block;
}
body header .container .header {
  max-width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: row;
  padding-top: 10vh;
  padding-bottom: 10vh;
}
body header .container .header .header-left {
  display: flex;
  flex-direction: column;
  width: 43%;
  gap: 10px;
  padding-top: 15vh;
  position: relative;
}
body header .container .header .header-left .showcase1 {
  position: absolute;
  top: 26%;
  left: -1%;
  z-index: 1;
}
body header .container .header .header-left .showcase8 {
  position: absolute;
  top: 115%;
  left: -28%;
}
body header .container .header .header-left h1 {
  color: #002A48;
  font-size: 3.1rem;
  font-weight: 700;
  line-height: 68px;
  font-family: svn;
  z-index: 10;
}
body header .container .header .header-left h1 span {
  font-weight: 900;
  letter-spacing: 0.4rem;
  font-family: svn;
  z-index: 10;
}
body header .container .header .header-left p {
  color: #242B33;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  font-family: svn;
  padding: 15px 0px;
}
body header .container .header .header-left .header-button {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
body header .container .header .header-left .header-button .btn1 {
  width: 161px;
  height: 48px;
  border-radius: 57px;
  padding: 14px, 28px, 10px, 28px;
  gap: 10px;
  border: 1.5px solid #003459;
  background: transparent;
}
body header .container .header .header-left .header-button .btn1 a {
  text-decoration: none;
  color: #003459;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
body header .container .header .header-left .header-button .btn1 a .fa-circle-play {
  font-size: 18px;
  margin-left: 5px;
}
body header .container .header .header-left .header-button .btn2 {
  width: 161px;
  height: 48px;
  border-radius: 57px;
  padding: 14px, 28px, 10px, 28px;
  gap: 8px;
  border: 1.5px solid #003459;
  background: #003459;
}
body header .container .header .header-left .header-button .btn2 a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
body header .container .header .header-left .header-button .btn2 a .fa-circle-play {
  font-size: 18px;
}
body header .container .header .header-right {
  width: 57%;
  position: relative;
}
body header .container .header .header-right img {
  position: absolute;
  top: -9%;
  right: -18%;
}
body header .container .header .header-right .showcase2 {
  position: absolute;
  top: 0%;
  left: 12%;
}
body header .container .header .header-right .showcase3 {
  position: absolute;
  top: 10%;
  left: 8%;
}
body header .container .header .header-right .showcase4 {
  position: absolute;
  top: 12%;
  left: 8%;
  z-index: 25;
}
body header .container .header .header-right .showcase5 {
  position: absolute;
  z-index: -2;
  top: 35%;
  left: 0%;
}
body header .container .header .header-right .showcase6 {
  position: absolute;
  z-index: -1;
  top: 25%;
  left: 0%;
}

@media (max-width: 834px) {
  body header .showcase7 {
    position: absolute;
    top: -120vh;
    left: -20%;
    z-index: -1;
  }
  body header .container {
    height: 1055px;
    overflow: hidden;
  }
  body header .container .navbar img {
    margin: auto;
  }
  body header .container .navbar .fa-bars {
    display: block;
    position: absolute;
    top: 2%;
    left: 10%;
    color: black;
    font-size: 30px;
    z-index: 99;
  }
  body header .container .navbar .navbar-menu1 {
    display: none;
  }
  body header .container .navbar .fa-bars:active ~ .navbar-menu2 {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 20px;
    width: 50%;
    height: 100%;
    transition: all 2.75s;
    transform: translateX(0px);
    top: 0%;
    padding-top: 20vh;
    padding-left: 40px;
    background: #003459;
  }
  body header .container .navbar .fa-bars:active ~ .navbar-menu2 .fa-xmark {
    color: white;
    position: absolute;
    right: 5%;
    top: 5%;
    font-size: 30px;
  }
  body header .container .navbar .fa-bars:active ~ .navbar-menu2 a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    font-family: svn;
    position: relative;
    display: inline-block;
  }
  body header .container .navbar .fa-bars:active ~ .navbar-menu2 .input {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    height: 44px;
    background: white;
    border-radius: 46px;
    padding: 12px, 20px, 12px, 16px;
  }
  body header .container .navbar .fa-bars:active ~ .navbar-menu2 .input .fa-magnifying-glass {
    font-size: 18px;
    color: #99A2A5;
    margin-left: 10px;
  }
  body header .container .navbar .fa-bars:active ~ .navbar-menu2 .input input {
    border: none;
    outline: none;
    border-radius: 46px;
  }
  body header .container .navbar .fa-bars:active ~ .navbar-menu2 .input input::-moz-placeholder {
    color: #99A2A5;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
  body header .container .navbar .fa-bars:active ~ .navbar-menu2 .input input::placeholder {
    color: #99A2A5;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
  body header .container .navbar .fa-bars:active ~ .navbar-menu2 button {
    width: 90%;
    height: 44px;
    border-radius: 57px;
    gap: 10px;
    padding: 14px, 28px, 10px, 28px;
    border: none;
    background: #F7DBA7;
  }
  body header .container .navbar .fa-bars:active ~ .navbar-menu2 button a {
    color: white;
    text-decoration: none;
  }
  body header .container .navbar .fa-magnifying-glass {
    display: block;
    font-size: 23px;
  }
  body header .container .navbar .dropdown {
    display: none;
  }
  body header .container .header {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    gap: 20px;
    max-width: 100%;
    position: relative;
  }
  body header .container .header .header-left {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 0vh;
  }
  body header .container .header .header-left .showcase1, body header .container .header .header-left .showcase8 {
    display: none;
  }
  body header .container .header .header-right {
    width: 100%;
    height: auto;
  }
  body header .container .header .header-right img {
    position: absolute;
    top: 0%;
    left: -25%;
  }
  body header .container .header .header-right .showcase2 {
    display: none;
  }
  body header .container .header .header-right .showcase3 {
    display: none;
  }
  body header .container .header .header-right .showcase4 {
    display: none;
  }
  body header .container .header .header-right .showcase5 {
    width: 100%;
    position: absolute;
    z-index: -2;
    top: 35%;
    left: 0%;
  }
  body header .container .header .header-right .showcase6 {
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0%;
    left: 0%;
  }
}
@media (max-width: 480px) {
  body header .showcase7 {
    position: absolute;
    top: -120vh;
    left: -50%;
    z-index: -1;
  }
  body header .container {
    width: 100%;
  }
  body header .container .navbar {
    width: 100%;
  }
  body header .container .navbar .fa-bars:active ~ .navbar-menu2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100%;
    transition: all 0.75s;
    transform: translateX(0px);
    top: 0%;
    padding-top: 20vh;
    padding-left: 40px;
    background: #003459;
  }
  body header .container .navbar .fa-bars:active ~ .navbar-menu2 .fa-xmark {
    color: white;
    position: absolute;
    right: 5%;
    top: 5%;
    font-size: 30px;
  }
  body header .container .navbar .fa-bars:active ~ .navbar-menu2 a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    font-family: svn;
    position: relative;
    display: inline-block;
  }
  body header .container .navbar .fa-bars:active ~ .navbar-menu2 .input {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    height: 44px;
    background: white;
    border-radius: 46px;
    padding: 12px, 20px, 12px, 16px;
  }
  body header .container .navbar .fa-bars:active ~ .navbar-menu2 .input .fa-magnifying-glass {
    font-size: 18px;
    color: #99A2A5;
    margin-left: 10px;
  }
  body header .container .navbar .fa-bars:active ~ .navbar-menu2 .input input {
    border: none;
    outline: none;
    border-radius: 46px;
  }
  body header .container .navbar .fa-bars:active ~ .navbar-menu2 .input input::-moz-placeholder {
    color: #99A2A5;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
  body header .container .navbar .fa-bars:active ~ .navbar-menu2 .input input::placeholder {
    color: #99A2A5;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
  body header .container .navbar .fa-bars:active ~ .navbar-menu2 button {
    width: 90%;
    height: 44px;
    border-radius: 57px;
    gap: 10px;
    padding: 14px, 28px, 10px, 28px;
    border: none;
    background: #F7DBA7;
  }
  body header .container .navbar .fa-bars:active ~ .navbar-menu2 button a {
    color: white;
    text-decoration: none;
  }
  body header .container .navbar .header {
    width: 100%;
  }
  body header .container .navbar .header .header-left h1 {
    letter-spacing: 0rem;
  }
  body header .container .navbar .header .header-right {
    width: 100%;
    height: auto;
  }
  body header .container .navbar .header .header-right img {
    position: absolute;
    top: 0%;
    left: 20%;
  }
}/*# sourceMappingURL=main.css.map */